.application-index-container {
  #map-canvas {
    height: 600px
  }

  .form-control {
    margin-bottom: 15px;
  }

  .img-wrap {
    margin-bottom: 15px;
    display: none;
    float: left;
  }

  .img-wrap.show {
    display: block;
  }

}
